div {
  width: 150px;
  height: 150px;
  background: lightseagreen;
  margin: 10px;
}

.linear {
  transition: all 1s linear;
}

.linear:hover {
  background: blue;
  transform: translateX(155px);
}

.ease-in {
  transition: all 1s ease-in;
}

.ease-in:hover {
  background: purple;
  transform: translateX(155px);
}
